<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
         <tab id="tab_id_katesh" translate="label" sortOrder="110">
             <label>KateSh</label>
         </tab>
         <section id="katesh_category" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
             <class>separator-top</class>
             <label>My Module</label>
             <tab>tab_id_katesh</tab>
             <resource>KateSh_MyModule::acl_path</resource>
             <group id="set_category" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Set Category</label>
                 <attribute type="expanded">1</attribute>
                 <field id="choose_category" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                     <label>Choose Category</label>
                     <source_model>KateSh\MyModule\Model\Config\Source\Category</source_model>
                 </field>
             </group>
        </section>
     </system>
</config>